doctype html
head
  title Registration
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='../static/images/icons/favicon.ico')
  link(rel='stylesheet' type='text/css' href='../static/main.css')
  script(src='https://kit.fontawesome.com/a076d05399.js')
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt='')
        img(src='../static/images/img-01.png' alt='IMG')
      form(action= "/register", method= "post", class= "login100-form validate-form")
        span.login100-form-title
          | Sign up

        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          <input type="text" class="myInput input100" name="name" placeholder="Enter your name..">
          span.symbol-input100
              i.fa.fa-user-alt(aria-hidden='true')
        
        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          <input type="phone" class="myInput input100" name="phone" placeholder="phone..">
            span.symbol-input100
              i.fa.fa-phone-alt(aria-hidden='true')


        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          <input type="email" class="myInput input100" name="email" placeholder="Enter your email..">
          span.symbol-input100
            i.fa.fa-envelope(aria-hidden='true')
        
        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          <input type="password" class="myInput input100" name="password" placeholder="Password..">
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
        
        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          <input type="password" class="myInput input100" name="confirmPassword" placeholder="Confirm Password..">
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
          
        .container-login100-form-btn
          button.login100-form-btn
            | Register
          .text-center.p-t-12
            a.txt2(href='/login')
                | Login here 
                i.fa.fa-long-arrow-alt-right.m-l-5(aria-hidden='true')
            
script(src='vendor/jquery/jquery-3.2.1.min.js')
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='vendor/select2/select2.min.js')
script(src='vendor/tilt/tilt.jquery.min.js')
script.
  $('.js-tilt').tilt({
  scale: 1.1
  })
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
script(src='js/main.js')
