doctype html
head
  title Login V1
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='../static/images/icons/favicon.ico')
  link(rel='stylesheet' type='text/css' href='static/main.css')
  script(src='https://kit.fontawesome.com/a076d05399.js')
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt='')
        img(src='../static/images/img-01.png' alt='IMG')
      form.login100-form.validate-form(action= "/login", method= "post", class= "myForm")
        span.login100-form-title
          | Member Login
        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          input.input100(type='text' name='email' placeholder='Email')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-envelope(aria-hidden='true')
        .wrap-input100.validate-input(data-validate='Password is required')
          input.input100(type='password' name='password' placeholder='Password')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
        .container-login100-form-btn
          button.login100-form-btn
            | Login
          .text-center.p-t-12
            a.txt2(href='/')
              | Create your Account
              i.fa.fa-long-arrow-alt-right.m-l-5(aria-hidden='true')
          
script(src='vendor/jquery/jquery-3.2.1.min.js')
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='vendor/select2/select2.min.js')
script(src='vendor/tilt/tilt.jquery.min.js')
script.
  $('.js-tilt').tilt({
  scale: 1.1
  })
script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
script(src='js/main.js')
