h1{
    text-align: center;
    margin: 12px 0;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
}

.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid rgba(238, 154, 154, 0.6);
}

.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background: #d43b3b;
    cursor: pointer;

}

.container{
    min-height: 80vh;
    margin: 10px 0px;
}