@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    font-size: 28px;

}
#logo img{
    margin: 0 14px;
    height: 42px;
    filter: invert(1);
}
#navbar{
    font-family: 'Yeon Sung' ;
    padding: 13px 14px;
    /* background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0); */
    background: #170d0d;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    color: bisque;
   text-decoration: none;
    padding: 13px 20px;
}
#navbar li a:hover{
    color: rgb(219, 223, 9);  
}

#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}

#missionSection{
    height: 326px;; 
    width: 67%;
    margin: auto;
}

#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 20px 12px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 50px;
    padding: 15px 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit; 
}
#sponsorsSection{
    padding: 20px;
    text-align: center;
    height: 215px;
    background-color: #fbd6d6c7;
}
#sponsors{
    padding: 200px;
    height: 120px;
    max-width: 100px;
    margin: auto
}

.spImage{
    height: 80px;
    margin: 34px 55px;
}

   
#footer{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
}